<link rel="stylesheet" type="text/css" href="a62.css">
<script src="a6.js"></script>


<!-- LINE 1 !-->
<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>


<!-- LINE 2 !-->

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>


<!-- LINE 3 !-->

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<!-- LINE 4 !-->

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<!-- LINE 5 !-->

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<div class="Element White"></div>
<div class="Element Red"></div>

<!-- LINE 6 !-->

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>

<div class="Element Red"></div>
<div class="Element White"></div>